#!/usr/bin/env xdg-open
[Desktop Entry]
Version=0.2
Type=Application
Name=Wingman
Comment=A companion for Discovery Freelancer
Exec=sh -c 'wingman || $HOME/.local/bin/wingman'
Icon=wingman
Categories=Game;Qt
Terminal=false
StartupNotify=true
StartupWMClass=wingman
